body {
  width: 960px;
  margin: auto;
  padding: 0;
  font-family: 'Source Sans Pro';
  color: white;
  background-color: #61666d;
}

div {
  display:inline-block;
}

h1,h2,h3,p{
  padding:0;
  margin:0;
}

#wrapper{
  width: inherit;
  margin:0;
  padding:0;
}

#heading {
  width: inherit;
  font-size: 40px;
  letter-spacing: 20;
  margin: 40 0 0 0;
  font-weight: 220;
  text-align: center;
  text-transform: uppercase;
  color: #77d4d6;
}

#description {
  font-size: 15px;
  line-height: 22px;
  width: 90%;
  margin: 30 0 0 0;
  text-align: justify;
}

#statementButton {
  padding: 10px;
  background-color: #77d4d6;
  width: 180px;
  font-size: 16px;
  color: #484b4f;
  margin-bottom: 40px;
  border-radius: 5px;
}

a:link, a:active, a:hover, a:visited #statementButton {
  text-decoration: none;
}

#submitTextButton {
  font-size: 14px;
  background-color: #77d4d6;
  border: none;
}

.label {
  display: inline-block;
  font-weight: bold;
}

.inputval, .btn{
  display: table-cell;
  vertical-align: middle;
  height: 20px;
  width: 80px;
  font-size: 12px;
  margin-right: 12px;

}

#wordAdder {
  float: clear;
  display: block;
  font-size: 14px;
  width: 531px;
  margin: 10 auto;
  margin-bottom: 20px;
  padding: auto;
}

#addIntro {
  font-size: 14px;
  font-weight: 500;
  margin-right: 5px;
  margin-top: 1px;
}

#userText {
  width: 300px;
}

#defaultCanvas0 {
  padding-bottom: 30px;
}

#footer {
  font-size: 13px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #484b4f;
  color: white;
  width: 98%;
  text-align: center;
  padding: 10px;
}
